body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fffcf7;
}

/* COMEÇO - HEADER */
.barra-header{
    padding: 10px 150px 10px;
}

#hr-navbar{
    background-color: #7867BF;
    border-width: 3px;
    margin: 0px 200px;
}
/* FIM - HEADER */

/* COMEÇO - CONTEUDO BEM-VINDO */
.div-texto-welcome{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}

#titulo-welcome{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 450%;
}

#texto-welcome{
    font-size: 150%;
}

.botao-letstart{
    background-color: black;
    border: none;
    color: #fffcf7;
    border-radius: 50px;
    padding: 10px 20px;
}

.div-img-welcome{
    margin: 0% 0%;
}

#imagem-inicial{
    width: 100%;
}
/* FIM - CONTEUDO BEM-VINDO */


/* COMEÇO - CRONOMETRO */
.div-relogio{
    margin: 15px;
}

.fundo-relogio{
    width: 550px;
}
/* COMEÇO - BOTÕES DO CRONOMETRO */
.botao-cronometro{
    border-color: black;
    border-width: 3px;
    border-radius: 50px;
    height: 50px;
    width: 150px;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
}
/* FIM - BOTÕES DO CRONOMETRO */
/* FIM - CRONOMETRO */

/* COMEÇO - CARROSSEL INFORMATIVO */
.div-carrossel-informativo{
    margin: 5% 10%;
}

.banner-carrossel{
    border-radius: 50px;
    background-color: black;
    width: 100%;
    height: 500px;
}
/* FIM - CARROSSEL INFORMATIVO */

footer{
    background-color: #7867BF;
    padding: 15px;
    text-align: center;
}

/* Estilos para telas grandes */
@media (min-width: 992px) {
    .card-welcome {
        padding: 50px;
    }

    #hr-navbar {
        margin: 0px 200px;
    }
}

/* Estilos para telas médias */
@media (max-width: 991px) {
    .card-welcome {
        padding: 30px;
    }

    #hr-navbar {
        margin: 0px 100px;
    }
}

/* Estilos para telas pequenas */
@media (max-width: 767px) {
    .card-welcome {
        padding: 20px;
    }

    #hr-navbar {
        margin: 0px 50px;
    }
}
